@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #888;
}

a:hover {
    text-decoration: underline;
}

.logo {
    cursor: pointer;
}

/* Posts */

.container {
    width: calc(290px * 4);
    margin: 0 auto;
}

.post {
    float: left;
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 250px;
    height: 250px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    position: relative;
}

.post .source {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.screenshot img {
    background-color: white;
    width: 230px;
    max-height: 155px;
    margin: 0 auto;
}

.post .info .fa-caret-up {
    font-size: 18px;
}

.post .title {
    font-weight: bold;
    color: #534540;
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
}

.post .description {
    overflow: hidden;
}

.post .info {
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 11px;
    background: white;
    height: 28px;
    line-height: 28px;
    left: 10px;
}

.post .info,
.post .info * {
    color: #777;
}

.post .info > span {
    margin-right: 5px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.sources {
    height: 30px;
}

.sources .source {
    height: 30px;
    width: 30px;
    display: block;
    float: right;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: center;
    opacity: 0.2;
    cursor: pointer;
}

.source.active {
    opacity: 1;
}

.source.loading {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
